.card{
    width: 90%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.card__info{
    width: 50%;
    padding: 25px 0 25px 20px;
}
.card__info h2{
    margin-bottom: 5px;
}
.card__price{
    position: absolute;
    width: 180px;
    height: 220px;
    border-radius: 50%;
    top: -15px;
    right: -38px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    font-weight: 600;
    align-items: center;
    padding-left: 15px;
    justify-content: start;
    font-size: 25px;
}
.card__info-btn{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.card__info-btn button:nth-child(1){
    width: 48%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}
.card__info-btn button:nth-child(2){
    width: 48%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.card__info-btn button:nth-child(1):hover{
    background-color: white;
    color: var(--primary-color);
}
.card__info-btn button:nth-child(2):hover{
    background-color: var(--primary-color);
    color: white;
}
@media (min-width: 410px){
    .card__price{
        width: 200px;
        height: 220px;
        top: -15px;
        right: -43px;
        padding-left: 20px;
    }
}